<% if logged_in? %>
  <div class="diarytext">
    <h1>日記をつける</h1>
    <h3>未来の自分へできること</h3>
  </div>
  <div class="d-contents">
    <section class="diary-form">
      <%= render "shared/micropost_form" %>
    </section>

    <div class="diary-feed">
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  この機能を使うにはアカウントが必要です。<br>
  <%= link_to "ログイン", login_path %><br>
  <%= link_to "アカウント作成", signup_path %>
<% end %>
