<% if logged_in? %>
  <div id="card-contents">
    <div class="makecard">
      <h2>単語を作成する。</h2>
      <h3>記憶をインプットしよう</h3>
      <section class="card_form">
        <%= render "shared/card_form" %>
      </section>
    </div>
    <div class="feedcard">
      <h3>作成した単語</h3>
      <%= render "shared/feed2" %>
    </div>
  </div>
<% else %>
  <%= render "shared/urge" %>
<% end %>
