<%= form_with(model: @micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content,
                placeholder: "日記を書く",
                size: "50x20",
                style: "font-size: 16px;",
                class: "diaryForm",
                required: true %>
  </div>
  <%= f.submit "日記を作成", class: "btn btn-primary" %>
<% end %>
