<div class="d-feed-p">
  <li id="micropost-<%= micropost.id %>">
    <span class="content"><%= micropost.content %></span>
    <div class="d-feed-dt">
      <span class="timestamp">
        作成日&nbsp;<%= micropost.created_at.strftime("%Y/%m/%d %H:%M") %>
      </span>
      <% if current_user?(micropost.user) %>
        <%= link_to "削除",
        micropost,
        class: "delete",
        data: {
          "turbo-method": :delete,
          turbo_confirm: "You sure?"
        } %><% end %>
    </div>

  </li>
</div>
