#card-contents {
	margin-left: 150px;


	.makecard {
		border-radius: 8px;
		background-color: #2bcaa2;
		padding: 0 15px;
		float: left;

		h2,
		h3 {
			font-family: sans-serif;
			color: white;
		}
	}

	.feedcard {
		margin-left: 25px;
		border-radius: 8px;
		background-color: #2bcaa2;
		padding: 0 15px;
		float: right;

		.no {
			width: 300px;
			h3 {
				margin: 10px 0 0 0;
			}
		}

		.fc-head {
			display: flex;
			height: 46px;

			.fc-likes {
				color: white;
				font-size: 1.2rem;
				font-family: sans-serif;
				font-weight: bold;
				height: 10px;
				margin-top: 18px;
				margin-left: 100px;

				&:hover {
					opacity: 0.7;
				}
			}
		}

		h3 {
			font-family: sans-serif;
			color: white;
		}

		#card-feed {
			background-color: white;
			border-radius: 8px;
			margin-top: 4px;
			display: block;
			box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
		}

		.cc {
			width: 350px;
			padding: 5px;
			font-size: 1.15rem;
			border-bottom: solid 2px #2bcaa2;
			font-weight: bold;
		}

		.timestamp {
			font-size: 0.7rem;
			margin-top: 7px;
			margin-left: 9px;
			float: left;
		}

		.cc-sub {
			display: flex;
			justify-content: flex-end;
			padding: 4px;
			margin-right: 7px;


			.dg {
				display: flex;

				.good {
					margin-right: 30px;
					fill: #2bcaa2;

					.button_to-btn {
						background-color: #fff;
						/* ボタンの背景色 */
						border: none;
						/* ボタンの枠線 */
						box-shadow: none;
						/* ボタンの影 */
						color: #000;
						/* ボタンの文字色 */
						text-shadow: none;
						/* ボタンの文字の影 */
						width: 35px;
						height: 35px;

						&:hover {
							opacity: 0.6;
						}


						.bk {
							border: none;
							margin: 0;
						}
					}
				}


				.delete {
					background-color: #fff;
					/* ボタンの背景色 */
					border: none;
					/* ボタンの枠線 */
					box-shadow: none;
					/* ボタンの影 */
					color: #000;
					/* ボタンの文字色 */
					text-shadow: none;
					/* ボタンの文字の影 */
					width: 17px;
					height: 17px;
					margin-top: 7px;

					&:hover {
						opacity: 0.6;
					}

					.bk {
						border: none;
						margin: 0;
					}
				}
			}
		}


	}

	.cards {
		padding: 0;
	}
}

.btn {
	font-size: 18px;
	font-weight: bold;
}
