@import "mixin";

.c-content {
	@include bgDefault;
	margin-left: 15vw;
	padding: 20px;

	h2 {
		font-size: 2rem;
		margin-top: 5px;
		border-bottom: solid 2px white;
		padding-bottom: 20px;
	}

	.send-btn-contents {
		display: flex;
		justify-content: end;

		.c-btn {
			width: 100px;
			cursor: pointer;
		}

		.root {
			padding: 2px;
			margin-right: 10px;
		}
	}
}
