a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	margin: 0;
}

@mixin base {
	background-color: rgb(43, 202, 162);
}

#search_form {
	display: inline-block;
	border-radius: 10px;
	background-color: rgb(43, 202, 162);
	margin-top: 10px;
	margin-left: 100px;
	padding: 20px 40px 20px 20px;

	.search_btn {
		//display: inline-block;
		padding: 40px;
		cursor: pointer;
		font-size: 300%;
		color: rgb(43, 202, 162);
		width: 40px;
	}

	.text-form {
		font-size: 1.4rem;
		font-family: sans-serif;
		font-weight: bold;
		height: 40px;
		width: 600px;
	}
}





/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}

/* signup-form */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#signup-contents {
	h1 {
		margin-left: 300px;
	}
}

input,
textarea,
select,
.uneditable-input {
	border: 1px solid white;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

.row {
	margin: 24px 0px 0 100px;
	display: inline-block;

	.btn-primary {
		padding: 10px;
		cursor: pointer;
	}
}

input {
	height: auto !important;
}

/* error */

#error_explanation {
	color: red;

	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	.form-control {
		color: red;
	}
}

/* form */

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;

	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}
