.alert {
	h2 {
	display: inline-block;
	padding: 5px;
	color: #2bcaa2;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 20px;
	margin-left: 100px;
	border: solid 1px #2bcaa2;
	border-radius: 7px;
	margin-bottom: 0;
	}
}
