@mixin base {
	background-color: rgb(43, 202, 162);
}

#contents {
	display: flex;
	flex-direction: column-reverse;
}

#left {
	font-weight: bold;
	font-family: sans-serif;
	padding: 30px 20px;
	margin-left: 80px;
	background-color: rgb(43, 202, 162);
	border-radius: 10px;
	display: flex;

	.ah {
		margin: 7px;

		&:hover {
			background-color: rgba(255, 255, 255, 0.439);
		}
	}
}

.a1,
.a2,
.a3,
.a4 {
	background-color: rgb(88, 88, 255);
	border-radius: 10px;
	text-align: center;
	padding: 10px;

	h2 {
		margin: 0;
		color: white;
		font-size: 2.0rem;
	}

	.aa1 {
		margin-top: 10px;
		width: 80px;
		height: 80px;
		border: none;
		margin-bottom: 0;
	}
}

.a2 {
	background-color: rgb(62, 152, 255);
}

.a3 {
	background-color: rgb(255, 35, 35);
}

.a4 {
	background-color: rgb(255, 91, 222);

	.aa1 {
		margin-top: 15px;
	}
}



#right {
	width: 400px;
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: sans-serif;
	padding: 0;
	background-color: rgb(43, 202, 162);
	margin-left: 80px;
	margin-bottom: 20px;
	border-radius: 10px;

	h5 {
		color: white;
		margin: 10px 0 0 30px;
		font-size: 1.1rem;
		display: inline-block;
	}

	ul {
		display: flex;
		margin: 5px 0 0 0;
		padding-left: 25px;

		li {
			padding: 5px;
			margin-bottom: 15px;
			margin-right: 5px;

			a {
				padding: 4px 8px;
				border-radius: 7px;
				border: solid 1px white;
				color: white;

				&:hover {
					background-color: white;
					color: rgb(43, 202, 162);
				}
			}
		}
	}

	.login-right {
		padding: 20px 0px 20px 30px;
		height: 150px;
		text-align: left;
		font-size: 1.1rem;
		display: flex;
		margin: 0;

		.gravatar {
			width: 80px;
			height: 80px;
			border-radius: 10px;
			float: left;
			border: solid 3px white;
		}

		.text {
			margin-left: 18px;
			padding: 0px 10px;
			border-radius: 5px;

			h4 {
				color: white;
				margin: 0px 0 13px 0px;
			}
		}

		color: white;
		margin-top: 0px;
	}
}

/* footer */
#footer {
	@include base;
	font-family: sans-serif;
	padding: 15px;
	position: absolute;
	flex-wrap: nowrap;
	overflow-x: auto;
	bottom: 0;
	left: 0;
	right: 0;

	ul {
		display: flex;
		margin-left: 790px;

		li {
			margin-left: 25px;
			flex: 0 0 auto;
			white-space: nowrap;

			a {
				color: white;
				font-size: 1.4rem;
				font-weight: bold;
			}
		}
	}
}
