@import 'mixin';

.new_list,
.listShow,
.listForm {
	@include bgDefault;
	width: 350px;
	padding: 10px;

	.listname {
		font-size: 1.3rem;
	}

	.listname-form {
		border-radius: 6px;
		font-size: 1.15rem;
	}

	h2,
	h3 {
		margin: 0 0 10px 0;
	}

	h1 {
		margin: 0 0 15px 0;
		padding-bottom: 15px;
		border-bottom: solid 2px white;
	}
}
