@import 'mixin';

.login-contents {
	@include bgDefault;
	margin-left: 300px;
	width: 450px;
	padding: 10px;
}

@media screen and (max-width: 480px) {
	.login-contents {
		margin: 0;
		width: 94%;
	}
}
