@import 'mixin';

.tipnewForm,
.tipeditForm {
	@include bgDefault;
	width: 450px;
	padding: 10px;

	font-size: 1.2rem;

	h2 {
		margin: 0 0 16px 0;
		padding-bottom: 5px;
		border-bottom: solid 2px white;
	}

	.tipform {
		font-size: 1.2rem;
		font-weight: bold;
		border-radius: 6px;
	}
}
