.todotext {
	display: flex;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	border-bottom: solid 1px white;
	margin-bottom: 25px;

	h1 {
		margin: 0;
	}
}


.l-kingdom {
	background-color: #2bcaa2;
	width: 1100px;
	padding: 20px;
	border-radius: 10px;

	.no {
		color: white;
		margin: 0 0 15px 0;
		font-family: sans-serif;
		font-weight: bold;
	}
}

.pluslist {
	border: solid 1px white;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 5px;
	padding: 4px;

	&:hover {
		color: #2bcaa2;
		background-color: white;
	}
}

.l-contents {

	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;

	.list-icon {
		width: 20px;
		height: 20px;
		padding: 0;
		margin-left: 6px;
		opacity: 0.6;

		&:hover {
			opacity: 0.3;
		}


	}

	.trash {
		width: 15px;
	}

	.list {
		background-color: rgb(240, 240, 240);
		border-radius: 5px;
		margin-right: 6px;
		margin-bottom: 6px;
		padding: 5px;
		width: 200px;
		float: left;

		.tip {
			background-color: white;
			border-radius: 5px;

			margin-bottom: 8px;
			justify-content: center;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

			&:hover {
				background-color: rgba(90, 90, 90, 0.378);
			}

			.tip-title {
				margin: 0;
				border-bottom: solid 1px rgb(164, 164, 164);
			}

			.btn {
				display: inline-block;
			}
		}

		.list_header {
			margin-bottom: 7px;
		}

		.list_header_title {
			background-color: #2bcaa2;
			text-align: center;
			color: white;
			font-size: 1.1rem;
			font-family: sans-serif;
			margin: 0;
			border-radius: 5px;
			padding: 2px;
			margin-bottom: 10px;
		}

		.cardDetail_link {
			text-align: center;
			color: gray;
			font-size: 0.9rem;
			font-family: sans-serif;


		}

		.plus {
			height: 23px;
		}
	}
}
