<header id="header">
  <h1 class="logo">e-note</h1>
  <nav class="navbar">
    <ul>
      <li><%= link_to "Home", "#" %></li>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "Log in", "#" %></li>
      <li><%= link_to "利用規約", "#" %></li>
    </ul>
  </nav>
</header>